.title, .subtitle {
    text-align: center;
}
.title {
    margin: 1rem 0;
}
p{
    padding-bottom: 1rem;
    white-space: pre-line;
}
.m {
    color: #469d45;
}

.e {
    color: #f9e021;
}

.r {
    color: #00d8ff;
}

.n {
    color: #479142;
}
.h{
    color: #f15930;
}
.c{
    color: #017dc7;
}
.j{
    color: #f58232;
}
.blue {
    color:deepskyblue;
    padding-left: 2rem;
}
.orange{
    color:coral;
    padding-left: 4rem;
}
.no-padding{
    padding-bottom: 0.1rem;
}
.concept-card {
    color: #fff;
    background-color: black;
    margin: 1rem 0 0 0;
}

.concept-img {
    border-radius: 50%;
    margin: auto;
    margin: 1rem 0 0 0;
    width: 100%;
}
.learn-img {
    border-radius: 50%;
    margin: auto;
    margin: 1rem 15%;
    width: 70%;
}
.learn-content{
    margin: auto;
    width: 80%;
}
a.links:link,
a.links:visited {
    color: #ffca3a;
    text-decoration: underline;
}

a.links:hover,
a.links:active {
    color: #fff;
    text-decoration: underline;
}
.t{
    color: #ffca3a;
}
@media screen and (max-width: 600px) {
.title{
        font-size: 1.2rem;
    }
    .subtitle{
        font-size: 1rem;
    }
    h4{
        font-size: 1rem;
    }
    .learn-img {
        border-radius: 50%;
        margin: auto;
        margin: 1rem 25%;
        width: 50%;
    }
}